::ng-deep .mat-slider-track-fill {
    background-color: #81a715 !important;
}

::ng-deep .mat-slider-thumb {
    background-color: #81a715 !important;
}

::ng-deep .mat-slider-thumb-label {
    background-color: #81a715 !important;
}

::ng-deep .mat-card .mat-divider-horizontal {
    left: 0;
    width: 90%;
}